click==8.1.4
colorama==0.4.6
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.15.1
rich==13.4.2
shellingham==1.5.0.post1
typer==0.9.0
typing_extensions==4.7.1
click==8.1.4
colorama==0.4.6
coverage==7.2.7
js-regex==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.25.1
pandas==2.0.3
Pygments==2.15.1
python-dateutil==2.8.2
pytz==2023.3
regex==2023.6.3
rich==13.4.2
shellingham==1.5.0.post1
six==1.16.0
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
